<div [@fadeInOut] class="form-container">

  <div class="header-form-container">
    <h1>
      <i class="fa fa-fw fa-plus"></i>
      New Scan
    </h1>
  </div>

  <div class="main-form-container">
    <form [formGroup]="startScanForm">
      <div class="inner-main-form-container">
        <div [style.fontSize.px]="14">
          <p>
            <mat-form-field>
              <input matInput matTooltip="Scan name" [formControl]="startScanForm.controls['name']" placeholder="Name">
            </mat-form-field>
          </p>
          <p>
            <mat-form-field>
              <input matInput type="number" matTooltip="Number of worker processes"  [formControl]="startScanForm.controls['workers']" placeholder="Workers">
            </mat-form-field>
          </p>
          <p>
            <mat-form-field>
              <input matInput type="number" matTooltip="Screen resolution" [formControl]="startScanForm.controls['width']" placeholder="Width">
            </mat-form-field>
          </p>
          <p>
            <mat-form-field>
              <input matInput type="number" matTooltip="Screen resolution" [formControl]="startScanForm.controls['height']" placeholder="Height">
            </mat-form-field>
          </p>
          <p>
            <mat-form-field>
              <input matInput type="number" matTooltip="Timeout in seconds" [formControl]="startScanForm.controls['timeout']" placeholder="Timeout">
            </mat-form-field>
          </p>
          <p>
            <mat-form-field>
              <input matInput type="number" matTooltip="Number of ms after 'dom-ready' to take screenshot" [formControl]="startScanForm.controls['margin']" placeholder="Margin">
            </mat-form-field>
          </p>
        </div>
        <div>
          <p>
            <mat-form-field appearance="outline" style="display: grid;">
              <mat-label>Targets</mat-label>
              <textarea autofocus matInput matTextareaAutosize style="font-family: 'Source Code Pro';" [formControl]="startScanForm.controls['targets']">
              </textarea>
            </mat-form-field>
          </p>
        </div>
      </div>
    </form>
  </div>

  <div class="footer-form-container">
    <div class="inner-footer-form-container">
      <button class="start-scan-button" [disabled]="!startScanForm.valid || starting" mat-raised-button (click)="startScan()">
        <div *ngIf="!starting">
          <i class="fas fa-fw fa-crosshairs"></i>
          Scan {{ numberOfTargets }} Target(s)
        </div>
        <div *ngIf="starting">
          <i class="fa fa-spin fa-spinner"></i>
          Starting ...
        </div>
      </button>
      <br />
    </div>

  </div>

</div>