<h1 mat-dialog-title class="monospace">
  <i class="fas fa-fw fa-info"></i>
  {{ result.target }}&nbsp;&nbsp;&nbsp;
  <button mat-button style="float: right;" (click)="onNoClick()">
    <i class="fas fa-fw fa-times"></i>
  </button>
</h1>
<div mat-dialog-content>
  <img *ngIf="result.error === ''" style="width: 100%;" [src]="result.id | dataUrl: this.scan.id | async">
  <p *ngIf="result.error !== ''">
    <i class="fas fa-fw fa-exclamation-triangle"></i>
    {{ result.error }}
  </p>
</div>
<div mat-dialog-actions>
  <button [disabled]="result.error !== ''" mat-button (click)="saveAs(result)" color="primary">
    Save As
  </button>
  <button [disabled]="result.error !== ''"  mat-button (click)="openUrl(result)" color="warn">
    Open URL
  </button>
  <button mat-button (click)="onNoClick()">
    Cancel
  </button>
</div>