<div [@fadeInOut]>

  <div *ngIf="!scan">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <div *ngIf="scan && !isComplete()">
    <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
  </div>

  <div *ngIf="scan && isComplete()">
    <mat-toolbar>
      <span>{{ scan.name }}</span>
      <span class="fill-remaining-space"></span>
      <button mat-stroked-button (click)="saveAllAs()">
        <i class="fas fa-fw fa-save"></i>
        Save All
      </button>  
      <span class="fill-space"></span>
    </mat-toolbar>

    <router-outlet></router-outlet>

  </div>

</div>
