<div [@fadeInOut]>

  <div *ngIf="!scan">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <div *ngIf="scan && !isComplete()">
    <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
  </div>

  <div *ngIf="scan && isComplete()">
    Name: {{ scan.name }} <br />
    Started: {{ scan.started | date}} <br />
    Duration: {{ scan.duration }}ms <br />
  </div>


  <div *ngIf="scan" class="results-container"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      (scrolled)="onScroll()">

    <div *ngFor="let result of results()">

      <mat-card class="result-card" [@fadeInOut] (click)="details(result)" (contextmenu)="onContextMenu($event, result)">
        <mat-card-header>
          <mat-card-title>{{ result.target | urlTitle }}</mat-card-title>
          <mat-card-subtitle class="monospace">
            {{ result.target }}
          </mat-card-subtitle>
        </mat-card-header>
        <img *ngIf="result.error === ''" mat-card-image [src]="result.id | scanUrl: this.scan.id">
        <p *ngIf="result.error">
          {{ result.error }}
        </p>
        <div>
          <i class="fa fa-fw fa-2x fa-search"></i>
        </div>
      </mat-card>
    </div>
  </div>
</div>

<div style="visibility: hidden; position: fixed"
  [style.left]="contextMenuPosition.x"
  [style.top]="contextMenuPosition.y"
  [matMenuTriggerFor]="contextMenu">
</div>
<mat-menu #contextMenu="matMenu">
  <ng-template matMenuContent let-item="item">
    <button mat-menu-item (click)="details(item)">
      View Details
    </button>
    <button mat-menu-item (click)="saveAs(item)">
      Save As
    </button>
    <button mat-menu-item (click)="openUrl(item)">
      Open URL
    </button>
  </ng-template>
</mat-menu>
