<div [@fadeInOut]>

  <div *ngIf="!scan">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <div *ngIf="scan && !isComplete()">
    <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
  </div>

  <div *ngIf="scan">

    <nav mat-tab-nav-bar mat-align-tabs="center">
      <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.path" routerLinkActive #rla="routerLinkActive"
        [active]="rla.isActive">
        {{link.label}}
      </a>
    </nav>

    <router-outlet></router-outlet>

  </div>

</div>