.settings-container {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;

}

.settings-header-container {
    grid-column: 2/3;
    grid-row: 1/2;
}

.inner-settings-container {
    grid-column: 2/3;
    grid-row: 2/3;

    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.browser-settings-container {
    grid-column: 1/2;
    grid-row: 1/2;
}

.proxy-settings-container {
    grid-column: 2/3;
    grid-row: 1/2;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(50px, auto);

}

.wide-mat-form-field {
    display: block;
    width: 80%;
}