<div [@fadeInOut] *ngIf="scan && !isCompleted" class="not-completed-container">

  <div class="not-completed-message">
    <h1>
      <i class="fas fa-fw fa-spin fa-spinner"></i>
      Please wait for scan to complete ...
    </h1>
  </div>

</div>

<div *ngIf="scan && isCompleted">

  <!-- <div class="loading-container" *ngIf="!imagesCompleted || eyeballing">
    
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>

  </div> -->

  <div *ngIf="imagesCompleted">

    <div [@fadeInOut] *ngIf="scan && eyeballCompleted" class="results-container">

      <h2>Login Page</h2>
      <div class="eyeballed-class-container">
        
        <div *ngFor="let result of resultsOf(classifications.loginPage); let index = index" [attr.data-index]="index">
          <mat-card class="result-card" (click)="details(result)" (contextmenu)="onContextMenu($event, result)">
            <mat-card-header>
              <mat-card-title>
                <span matBadge="{{ index + 1 }}" matBadgeOverlap="false" matBadgePosition="above before"
                  matBadgeColor="primary">
                  {{ result.target | urlTitle }}
                </span>
              </mat-card-title>
              <mat-card-subtitle class="monospace">
                {{ result.target }}
              </mat-card-subtitle>
            </mat-card-header>
            <img  mat-card-image [attr.src]="(result.id | dataUrl: this.scan.id) | async">
            <div>
              <i class="fa fa-fw fa-2x fa-search"></i>
            </div>
          </mat-card>
        </div>
      </div>

      <h2>Old Looking</h2>
      <div class="eyeballed-class-container">
        <div *ngFor="let result of resultsOf(classifications.oldLooking); let index = index" [attr.data-index]="index">
          <mat-card class="result-card" (click)="details(result)" (contextmenu)="onContextMenu($event, result)">
            <mat-card-header>
              <mat-card-title>
                <span matBadge="{{ index + 1 }}" matBadgeOverlap="false" matBadgePosition="above before"
                  matBadgeColor="primary">
                  {{ result.target | urlTitle }}
                </span>
              </mat-card-title>
              <mat-card-subtitle class="monospace">
                {{ result.target }}
              </mat-card-subtitle>
            </mat-card-header>
            <img  mat-card-image [attr.src]="(result.id | dataUrl: this.scan.id) | async">
            <div>
              <i class="fa fa-fw fa-2x fa-search"></i>
            </div>
          </mat-card>
        </div>
      </div>

      <h2>Homepage</h2>
      <div class="eyeballed-class-container">
        <div *ngFor="let result of resultsOf(classifications.homePage); let index = index" [attr.data-index]="index">
          <mat-card class="result-card" (click)="details(result)" (contextmenu)="onContextMenu($event, result)">
            <mat-card-header>
              <mat-card-title>
                <span matBadge="{{ index + 1 }}" matBadgeOverlap="false" matBadgePosition="above before"
                  matBadgeColor="primary">
                  {{ result.target | urlTitle }}
                </span>
              </mat-card-title>
              <mat-card-subtitle class="monospace">
                {{ result.target }}
              </mat-card-subtitle>
            </mat-card-header>
            <img  mat-card-image [attr.src]="(result.id | dataUrl: this.scan.id) | async">
            <div>
              <i class="fa fa-fw fa-2x fa-search"></i>
            </div>
          </mat-card>
        </div>
      </div>

      <h2>Page Not Found</h2>
      <div class="eyeballed-class-container">
        <div *ngFor="let result of resultsOf(classifications.custom404); let index = index" [attr.data-index]="index">
          <mat-card class="result-card" (click)="details(result)" (contextmenu)="onContextMenu($event, result)">
            <mat-card-header>
              <mat-card-title>
                <span matBadge="{{ index + 1 }}" matBadgeOverlap="false" matBadgePosition="above before"
                  matBadgeColor="primary">
                  {{ result.target | urlTitle }}
                </span>
              </mat-card-title>
              <mat-card-subtitle class="monospace">
                {{ result.target }}
              </mat-card-subtitle>
            </mat-card-header>
            <img  mat-card-image [attr.src]="(result.id | dataUrl: this.scan.id) | async">
            <div>
              <i class="fa fa-fw fa-2x fa-search"></i>
            </div>
          </mat-card>
        </div>
      </div>

    </div>

  </div>
</div>

<div style="visibility: hidden; position: fixed"
  [style.left]="contextMenuPosition.x"
  [style.top]="contextMenuPosition.y"
  [matMenuTriggerFor]="contextMenu">
</div>
<mat-menu #contextMenu="matMenu">
  <ng-template matMenuContent let-item="item">
    <button mat-menu-item (click)="details(item)">
      View Details
    </button>
    <button mat-menu-item (click)="saveAs(item)">
      Save As
    </button>
    <button mat-menu-item (click)="openUrl(item)">
      Open URL
    </button>
  </ng-template>
</mat-menu>