.not-completed-container {
    display: grid;
    justify-items: center;
    align-items: center;
    
    grid-template-columns: 1fr 1fr 1fr;
}

.not-completed-message {
    grid-column: 2/3;
    grid-row: 2/3;
}

.results-container {
    display: grid;
    justify-items: center;
    align-items: center;
    
    grid-template-columns: 1fr;
}

.eyeballed-class-container {
    display: grid;
    justify-items: center;
    align-items: center;

    grid-template-rows: minmax(250px, auto);
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    margin: 1em;
}

.result-card {
    max-width: 100%;
}

.result-card:hover {
    background-color: #f5f5f5;
}

.result-card:hover img {
    opacity: .5;
}

.result-card:hover div {
    display: block;
}

.result-card > div {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    z-index: 10;
}

.fill-remaining-space {
    flex: 1 1 auto;
}

.fill-space {
    flex: auto;
}

