<mat-toolbar class="app-toolbar" color="primary" style="-webkit-app-region: drag; -webkit-user-select: none;">
  <span style="width: 60px;"></span>
  
  <div>

    <button style="-webkit-app-region: no-drag" mat-button [routerLink]="['/scan/new']">
      <i class="fas fa-fw fa-plus"></i>
      <ng-container i18n>
        New Scan
      </ng-container>
    </button>

    <button style="-webkit-app-region: no-drag" mat-button [routerLink]="['/scan/history']">
      <i class="fas fa-fw fa-calendar-alt"></i>
      <ng-container i18n>
        History
      </ng-container>
    </button>
  
  </div>

  <span class="pull-right-spacer"></span>

  <button style="-webkit-app-region: no-drag" mat-button [matMenuTriggerFor]="settings">
    <i class="fas fa-ellipsis-v"></i>
  </button>
  <mat-menu style="-webkit-app-region: no-drag" #settings="matMenu">
    <button mat-menu-item [routerLink]="['/settings']">
      <i class="fas fa-fw fa-cogs"></i>
      &nbsp;Settings
    </button>
    <button mat-menu-item (click)="onExit()">
      <i class="fas fa-fw fa-sign-out-alt"></i>
      &nbsp;Exit
    </button>
  </mat-menu>

</mat-toolbar>